NEXT_PUBLIC_SUPABASE_URL=https://aavkqhqcppvupophjpbo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ضع_مفتاح_anon_هنا

# WhatsApp Cloud API
WHATSAPP_ACCESS_TOKEN=ضع_رمز_الوصول_هنا
WHATSAPP_PHONE_NUMBER_ID=1222002817672492
WHATSAPP_VERIFY_TOKEN=ضع_رمز_التحقق_الذي_ستدخله_في_Meta_هنا
